<div class="tr-act">
  <a clas="tr-act__link" href="#">
    <div class="tr-act__img-box">
      {% include 'app/module/_icons/_pen.njk' %}
    </div>
    <span class="tr-act__desc pen-desc">תכירע העצהה</span>
  </a>
  <a clas="tr-act__link" href="mailto:email@your-mail.com">
    <div class="tr-act__img-box">
      {% include 'app/module/_icons/_envelop.njk' %}
    </div>
    <span class="tr-act__desc envelop-desc">תחילש העצהה</span>
  </a>
</div>