<header class="header">
   <div class="user">
      <a class="user__profile" href="login.html">
         {% include 'app/module/_icons/_user.njk' %}
      </a>
      <div class="user__data">
         <div class="user__data-item" href="#"><span>ןכוס םש</span> <span class="user__data-detail">ילארשי לארשי</span></div>
         <div class="user__data-item" href="#"><span>רפסמ</span> <span class="user__data-detail">123456</span></div>
      </div>
   </div>
</header>